
{% extends 'master.twig' %}

{% block menu %}
{% endblock  %}

{% block main %}
    <div class="uk-grid uk-container-center">

        <div class="row">
            <h2>Choisissez une catégorie</h2>
           
            <ul data-uk-grid-margin="" class="uk-grid uk-text-center">
                {% for c in categorie %}
                <li class="uk-width-medium-3-10">
                    <div class="uk-thumbnail uk-text-center margin-buttom-5">
                    <a href="{{UrlIndex}}?cat={{c.Id}}"> <img src="{{c.UrlImg}}" alt=""></a>
                    <div class="uk-thumbnail-caption">
                        <a href="{{UrlIndex}}?cat={{c.Id}}"><p class="uk-text-center margin-buttom-5 uk-text-primary uk-text-bold">{{c.NomCategorie}}</p></a>
                    </div>
                    </div> 
                </li>
             {% endfor%}
            </ul>

        </div>

    </div>

{% endblock %}