
{% extends 'master.twig' %}

{% block menu %}

{% endblock  %}

{% block main %}
    <div class="uk-grid uk-container-center">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="uk-icon-user"></i>Creez votre annonce</h3>
            </div>
            <div class="panel-body">
                <form class="uk-form" action="{{UrlForm}}" enctype="multipart/form-data" method="POST">
                    <div class="uk-grid">
                        <div class="uk-width-medium-3-6">
                            <fieldset>
                                <legend>Votre annonce</legend>
                                <div class="uk-form-row">
                                    <select name="CatId">
                                        {% for c in Categories%}
                                            <option value="{{c.Id}}">{{c.NomCategorie}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                                <div class="uk-form-row"><input type="text" name="Titre" placeholder="Titre" /></div>
                                <div class="uk-form-row"><textarea name="Description" ></textarea></div>
                                <div class="uk-form-row"><input type="text" name="Ville" placeholder="Ville" /></div>
                                <div class="uk-form-row"><input type="text" name="Prix" placeholder="Prix" /></div>
                                <div class="uk-form-row"><input type="text" name="CodeP" placeholder="Code Postal" /></div>
                            </fieldset>
                        </div>
                        <div class="uk-width-medium-3-6">
                            <fieldset>
                                <legend>Vos informations</legend>
                                <div class="uk-form-row"><input type="text" name="Nom" placeholder="Votre Nom" /></div>
                                <div class="uk-form-row"><input type="text" name="Email" placeholder="Votre Email" /></div>
                                <div class="uk-form-row"><input type="password" name="pass"  /></div>
                                <div class="uk-form-row"><input type="text" name="Tel" placeholder="Votre Numero de Tel" /></div>
                                <div class="uk-form-row">
                                    <div class="uk-placeholder uk-text-center" >
                                        <a class="uk-form-file">
                                            <input type="file" name='image[]' ></a>
                                    </div>
                                </div>
                                <div class="uk-form-row">
                                    <div class="uk-placeholder uk-text-center" >
                                        <a class="uk-form-file">
                                            <input type="file" name='image[]' ></a>
                                    </div>
                                </div>
                                <div class="uk-form-row"><button class="uk-button uk-button-success" >Valider</button></div>
                            </fieldset>
                            {% if rep==1 %}
                                <div class="uk-alert uk-alert-success">Votre Annonce a ete Ajouter avec Succee</div>
                            {% endif%}
                        </div>
                    </div>
                </form>




            </div>
        </div>
    </div>

{% endblock %}