{% extends 'master.twig' %}

{% block menu %}
    {{parent()}} 
{% endblock  %}

{% block main %}
    <div class="uk-grid uk-container-center">
        <div class="uk-width-medium-1-1">
            {% for a in annonces %}
                <div  data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}">

                    <div class="uk-grid uk-panel uk-panel-box uk-text-truncate margin-buttom-5">
                        <div class="uk-width-medium-1-6 "> 
                            <p>{{a.annonce.DateP}}</p>
                        </div>
                        <div class="uk-width-medium-2-6"> 
                            <a class="uk-thumbnail" href="{{a.url}}"><img width="200" height="200"src="{{urlBase}}/{{ a.annonce.UrlImg }}" alt=""></a>
                        </div>
                        <div class="uk-width-medium-2-6"> 
                            <p class="uk-text-bold  margin-buttom-5 uk-text-primary"><a href="{{a.url}}" >{{a.annonce.Titre}}</a></p>
                            <p class="uk-text-muted margin-buttom-5">{{a.categorie.NomCategorie}}</p>
                        </div>
                        <div class="uk-width-medium-1-6"> 
                            <h3 class="uk-text-bold">{{a.annonce.Prix}} &euro;</h3>
                        </div>
                    </div>

                </div>
            {% endfor %}    
            <ul class="uk-pagination">
                <li><a href=""><<</a></li>
                <li class="uk-active"><span>1</span></li>
                <li class="uk-disabled"><span>2</span></li>
                <li><a href="">>></a></li>
            </ul>
        </div>

    </div>

{% endblock %}