{% extends 'master.twig' %}

{% block menu %}

{% endblock  %}
{% block main %}
    
    <div class="uk-container uk-container-center">
        <ul class="uk-breadcrumb">
            <li ><i class="uk-icon-home"></i></li>
            <li><b>toute la france</b></li>
            <li><b>{{annonce.Ville}}</b></li>
        </ul>
        <div class="uk-panel uk-panel-box">
            <h2 class="uk-text-primary">{{annonce.Titre}}</h2>
            <div class="uk-grid">
                <div class="uk-width-medium-3-6">

                    <div  class="uk-thumbnail uk-overlay-toggle" >
                        <div class="uk-overlay">
                            <img id="imageP" src="{{urlBase}}/{{annonce.UrlImg}}" alt="">

                        </div>
                    </div>
                    <article class="uk-article">
                        <h1 class="uk-article-title uk-text-warning">Prix : {{annonce.Prix}} &euro;</h1>
                        <p >Categorie : {{annonce['categorie'].NomCategorie}}</p>
                        <p >Ville : {{annonce.Ville}}</p>
                        <p >Code Postal : {{annonce.CodeP}}</p>
                        <hr class="uk-article-divider">
                        <p class="uk-article-lead">Description </p>
                        <p >{{annonce.Description}} </p>
                    </article>
                </div>
                <div id="imageS" class="uk-width-medium-1-6 uk-hidden-small" >
                    <a  id="1" class="uk-overlay" href="#" style=" margin-bottom: 10px;">
                        <img  src="{{urlBase}}/{{annonce.UrlImg}}" alt="">
                        <div class="uk-overlay-area"></div>
                    </a>
                    <a id="2" class="uk-overlay" href="#">
                        <img src="{{urlBase}}/{{annonce['photoS'].UrlPhoto}}" alt="">
                        <div  class="uk-overlay-area"></div>
                    </a>
                </div>
                <div class="uk-width-medium-2-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="uk-icon-user"></i> {{annonce.Nom}}</h3>
                        </div>
                        <div class="panel-body">
                            <p><i class="uk-icon-location-arrow"></i> {{annonce.Ville}} {{annonce.CodeP}}</p>

                        </div>
                    </div>
                            <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="uk-icon-pencil"></i> Gérer votre annonce</h3>
                        </div>
                        <div class="panel-body">
                            <p><a href="#" class="uk-button uk-button-primary">Gerer cette annonce</a></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ urlBase }}/App/template/src/js/main.js"></script>

{% endblock  %}
