{% extends "master.twig" %}
{% block main %}
    {{ parent()}}
    <div class="uk-grid">
        <div class="uk-text-large uk-panel uk-panel-box uk-width-medium-4-6">
          {{message}}
        </div>
    </div>
      
    {% endblock %}
