<footer>
    <p class="uk-text-center">© 2014  | EL HARTI AYOUB</p>
    <div id="menu-1" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <ul class="uk-nav uk-nav-offcanvas" >
                <li class="uk-active"><a href="{{menu.chercher}}">Rechercher</a></li>
                <li><a href="{{menu.gerer}}">Gerer Annonces</a></li>
                <li><a href="{{menu.deposer}}">Deposer une Annonce</a></li>
            </ul>
        </div>
    </div>
</footer>