<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ urlBase }}/App/template/src/css/style.css" />
        <link rel="stylesheet" type="text/css" href="{{ urlBase }}/App/template/src/css/racoin.css" />
     <script src="{{ urlBase }}/App/template/src/js/Jquery.js"></script>
     <script src="{{ urlBase }}/App/template/src/js/uikit.js"></script>
    <title>Le 1er site des annonces en france</title>

</head>