<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" >

    {% include 'head.twig' %}

    <body >
        <nav class="tm-navbar uk-navbar uk-navbar-attached">
            <div class="uk-container uk-container-center">
                <a href="{{menu.index}}" class="uk-navbar-brand uk-hidden-small"><b>Racoin.net</b></a>
                <ul class="uk-navbar-nav uk-hidden-small uk-navbar-flip">
                    <li><a href="{{menu.chercher}}"><i class="uk-icon-search"></i> Rechercher</a></li>
                    <!--class="uk-active" -->  <li  ><a href="{{menu.gerer}}"><i class="uk-icon-pencil"></i> Gerer Annonces</a></li>
                    <li >
                        <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
                            <div class="uk-button-group">
                                <a href="{{menu.deposer}}" class="uk-button uk-button-success"><i class="uk-icon-edit"></i> Deposer une annonce</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas="{target:'#menu-1'}"></a>
                <div class="uk-navbar-brand uk-navbar-center uk-visible-small">Racoin.net</div>
            </div>
        </nav>

        <div class="tm-middle">
            {% block menu %}
                <div class="article">
                    <div class="uk-container uk-container-center">
                        <div class="uk-grid uk-text-center">
                            <div class="uk-push-1-10 uk-width-medium-8-10">

                                <form class="uk-form" method="get" action="{{UrlIndex}}">
                                    <fieldset data-uk-margin>
                                        <input type="text" name="q" placeholder="Vous Chercher Quoi ?">
                                            <input type="text" name="max" placeholder="Tarif Max" value="{{tarif}}" style="width: 80px;">
                                                <select name="cat" class="uk-hidden-small">
                                                    <option selected disabled>Toutes les categories</option>
                                                    {% for c in comboCategorie %}
                                                        <option value="{{c.Id}}">{{c.NomCategorie}}</option>
                                                    {% endfor%}
                                                </select>
                                                <select class="uk-hidden-small">
                                                    <option>Departement</option>
                                                    <option>...</option>
                                                </select>

                                                <button class="uk-button uk-button-primary"><i class="uk-icon-search"></i> Chercher</button>
                                                </fieldset>
                                                </form>
                                                </div>
                                                </div>
                                                </div>
                                                </div>
                                            {% endblock %}
                                            </div>

                                            <div class="tm-middle">
                                                <div class="uk-container uk-container-center">
                                                    <div class="uk-grid">
                                                        <div class="uk-width-medium-5-6 margin-top-25">
                                                            {% block main %}

                                                            {% endblock%}
                                                        </div>
                                                        <div class="uk-width-medium-1-6  margin-top-25">
                                                            <div class="uk-alert uk-text-bold uk-text-center uk-text-truncate">Recommandations</div>
                                                            {% for r in recommendations %}
                                                                <div class="uk-thumbnail uk-text-center margin-buttom-5">
                                                                    <a href="{{r.url}}"> <img src="{{ urlBase }}/{{r.roc.UrlImg}}" alt=""></a>
                                                                    <div class="uk-thumbnail-caption">
                                                                        <a href="{{r.url}}"><p class="uk-text-center margin-buttom-5 uk-text-primary uk-text-bold">{{r.roc.Titre}}</p></a>
                                                                        <a href="{{r.url}}"> <p class="uk-text-center margin-buttom-5">{{r.roc.Prix}}  &euro;</p></a>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}     

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr class="uk-grid-divider">
                                                {% include 'footer.twig'%}
                                                </body>
                                                </html>